.flash {
  width: 100%;
  overflow: hidden;
  position: relative;
  /* border: 4px solid black; */
}

.flash__inner {
  width: 100%;
  justify-content: end;
  display: flex;
  animation: flash 10s linear infinite;
  white-space: nowrap;
  /* border: 4px solid black; */
}

@keyframes flash {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.flash span {
  padding: 0 10px;
}
